.products-section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width: 1260px) {
    .hero {
        flex-direction: column;
    }

    .cathegories {
        display: flex;
    }

    .sidebar {
        max-width: 100%;
    }
}

//todo mobile filter list
@media (max-width: 768px) {
    .hero {
        align-items: center;
    }

    .products-section {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
