.products-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
//to do fix
@media (max-width: 1500px) {
    .products-section {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1260px) {
    .hero {
        flex-direction: column;
    }

    .cathegories {
        display: flex;
    }

    .sidebar {
        max-width: 100%;
    }

    .products-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .products-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

//todo mobile filter list
@media (max-width: 768px) {
    .hero {
        align-items: center;
    }

    .products-section {
        grid-template-columns: 1fr;
    }
}
