.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
    margin: 0 auto;
    padding-block: 20px;
    position: relative;

    &__searchbar {
        display: flex;
        height: 32px;
        padding-left: 6px;
        border-radius: 6px;
        background-color: lightgray;
        overflow: hidden;
        align-items: center;

        svg {
        }

        input {
            background-color: transparent;
            padding: 4px 10px;
            border: transparent;
            flex: 1;
            &:focus {
                outline: none;
            }
        }

        button {
            height: 100%;
            width: 26px;
            border: transparent;
            cursor: pointer;
        }
    }

    &__userCart {
        button {
            background-color: lightgray;
            border: transparent;
            border-radius: 8px;
            padding: 8px 14px;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
                opacity: 0.86;
            }
        }

        span {
            padding-left: 8px;
        }
    }
}

.user-cart {
    position: absolute;
    height: 100vh;
    width: 300px;
    background-color: aquamarine;
    right: 0;
    top: 0;
    position: fixed;
}
